{% assign relatedProduct_handles = combineproduct.metafields.meta.related  | split: ',' %}

{% for relatedProduct_handle in relatedProduct_handles%}

{% assign relatedProduct = all_products[relatedProduct_handle] %}



<div class="customColor" title="{{ relatedProduct.title }}">
  
  <a href="{{ relatedProduct.url }}" class="">
	<img src="{{ relatedProduct.featured_image | img_url: '100x' }}">

  </a>
</div>
{% endfor %}

{% style %}
  .customColor{
 	  min-width: 100px !important;
      height: 130px !important;
	
	  
  }

  .customColor img{
      min-width: 100px !important;
      height: 130px !important;
      border-radius: 50%;
      box-shadow: 0 0 0 !important;
      -webkit-box-shadow: 0 0 0 !important;
      background-position: center;
      background-size: 100% auto;
      background-repeat: no-repeat;
      cursor: pointer;
      outline: none !important;
      margin: 0;
      border: 1px solid #ccc;
      font-size: 13px;
      text-align: center;
      line-height: 42px;
      white-space: nowrap;
      text-transform: uppercase;
	}
{% endstyle %}