{% assign relatedProduct_handles = combineproduct.metafields.meta.related  | split: ',' %}


<div class="customColor" title="{{ relatedProduct.title }}">
  
{% for relatedProduct_handle in relatedProduct_handles%}

{% assign relatedProduct = all_products[relatedProduct_handle] %}

  
  <a href="{{ relatedProduct.url }}" class="">
	<img class="normal {% if relatedProduct_handle == current_handle%}special{% endif %}" src="{{ relatedProduct.featured_image | img_url: '100x' }}">

  </a>

{% endfor %}
</div>

{% style %}
  .customColor{
 	  min-width: 100px !important;
      height: 100px !important;
	
	  
  }
	
  .normal{
      min-width: 100px !important;
      height: 100px !important;
      border-radius: 50%;
      box-shadow: 0 0 0 !important;
      -webkit-box-shadow: 0 0 0 !important;
      background-position: center;
      background-size: 100% auto;
      background-repeat: no-repeat;
      cursor: pointer;
      outline: none !important;
      margin: 2px;
      border: 1px solid #ccc;
      font-size: 13px;
      text-align: center;
      line-height: 42px;
      white-space: nowrap;
      text-transform: uppercase;
	  float: left;
		
	}

  .special{
          border: 1px solid #333;
      }
{% endstyle %}

<script type="text/javascript">
  
  
  console.log("{{ current_handle }}");
              
</script>